.rack {
    color: black;
    border: 2px ridge black;
    width: 400px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;

}


.device {
    border-top: 1px ridge black;
    border-bottom: 1px ridge black;
    box-sizing: border-box;
    height: 25px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.innerRack {
    width: 100%;
    vertical-align: text-top;
    box-sizing: border-box;
    border-collapse: collapse;
}

.empty{
    height: 25px;
}

.leftSide {
    float: left;
    width: 40px;
    margin: auto;
    background-color: lightgray;
}

.rightSide {
    float: right;
    width: 40px;
    margin: auto;
    background-color: lightgray;
}




.side {
    /* margin: auto; */
    height: 25px;
    border: 1px ridge black;
    border-top: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;

}